@font-face {
	font-family: 'Noto Color Emoji';
	src: url(../../assets/fonts/NotoColorEmoji-Regular.ttf) format('truetype'),
	url(../../assets/fonts/NotoColorEmoji-Regular.ttf) format('truetype');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}